.container {
    display: flex;
    background-color: white;
    border: 2px solid;
    border-color: gray;
    box-sizing: content-box;
    width: 500px;
    height: 300px;
    padding: 10px;
    gap: 20px;
}

.blueColor, .blueColor2{
    color: rgb(68, 68, 224);
    border: 25px solid;
}

.colorRed1, .colorRed2, .colorRed3, .colorRed4 {
    background-color: red;
    border: 1px solid;
}

.colorRed1, .colorRed2 {
    width: 120px;
    height: 98px;
}

.colorRed3, .colorRed4 {
    width: 300px;
    height: 98px;
    right: 790px;
}

.blueColor{
    flex-direction: column;
    height: 270px;
    position: fixed;
    left: 150px;
    top: 30px;
}

.blueColor2 {
    position: fixed;
    left: 10px;
    width: 470px;
    top: 170px;
}

.colorRed1 {
    position: fixed;
    left: 10px;
    top: 28px;
}

.colorRed2 {
    position: fixed;
    left: 10px;
    top: 250px;
}

.colorRed3 {
    position: fixed;
    top: 29px;
}

.colorRed4 {
    position: fixed;
    top: 250px;
}