.container {
    display: flex;
    flex-direction: column;
    border-color: gray;
    box-sizing: content-box;
    width: 600px;
    height: 240px;
    padding: 10px;
}

.blackColor {
    color: black;
    border: 75px solid;
}

.redColor {
    color: red;
    border: 75px solid;
}

.yellowColor {
    color: yellow;
    border: 75px solid;
}
